body{
            margin: 0;
            padding: 0;

        }
        .popup{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0,.3);
            position:fixed;
            opacity: 0;
            transition: all .2s ease-in;
            z-index: 100;
        }

       .popup__content{
        height: 500px;
        width: 350px;
        text-align: center;
        position: relative;
        margin: 20vh auto;
       }

       .popup__image{
        height: 400px;
        width: 300px;
        margin-bottom: 15px;
       }

       .popup__close{
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
       }

       .popup--show{
        opacity: 1;
       }

       .popup--close{
        opacity: 0;
        transition: all .2s ease-out;
        height: 0px;
        width: 0px;
            left: -500px;
       }
